[Unit]
Description=OutboardRepairBase health check
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/opt/outboardrepairbase/current/outboard-web/ops/healthcheck.sh
